body{
  background-color: #ffeded;
}
.wrapper{
  position:fixed;
  height:100%;
  width:100%;
  transition:0.4s;
  background-color:#ffeded;
}
.searchBar{
  top:0;
  left:0;
  height:4vw;
  width: 100vw;
  background-color: #ffadad;
  padding:1vw;
}
#field{
  background-color:#ffeded;
  color: #331212;
  border-radius:20px;
  border:none;
  height:1vw;
  width:83vw;
  outline:none;
  margin-left:2vw;
  padding:20px;

  font-family: "'Roboto";
  font-size:1.2vw;
}

@import url('https://fonts.googleapis.com/css?family=Archivo|Lato|Spectral&display=swap');
@import url("https://fonts.googleapis.com/css?family=Spectral&display=swap");

body {
    margin:0;
    width: 100%;
    height:100%;
    padding-bottom:0;
    top:0;
    left:0;
    background-size: 100% auto;
    background-attachment: fixed;
    background-color:#333;
    overflow-y:auto;
}


.icon-flex{
    margin:auto;
    width:200px;
    height:50px;
    padding-bottom:25px;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
}
.icon-flex a{
  float:left;
  padding:0;
  width:0px;
  height:0px;
}

.flex_elt{
  color:#fff;
}

.menu{
  float:right;
  margin:0;
  line-height:100px;
  z-index:1;
}

.wrapper::-webkit-scrollbar { width: 0 !important }

.menu a{
  color: #fff;
  text-transform:lowercase;
  text-decoration:none;
  font-family: 'Archivo', sans-serif;
  font-style:italic;
  padding: 10px;
  transition:0.4s;
}

.menu a:hover{
  color:#F7DC6F;
}

#chk{
  position:absolute;
  visibility:hidden;
  z-index:-1111;
}

@media screen{
  .show-menu, .hide-menu{
    display: block;
  }
  .menu{
    position:fixed;
    min-width:200px;
    width:30vw;
    height:100%;
    background:#ffadad;
    right:-30vw;
    top:0;
    text-align:center;
    padding:80px 0;
    line-height:normal;
    transition:0.7s;
  }


  .menu a{
    display:block;
    font-size:20px;
    padding:20px;
  }

  .hide-menu{
    position:absolute;
    top:40px;
    right:60px;
  }
  #chk:checked ~ .menu{
    right:0vw;
  }
  #chk:checked ~ .wrapper{
    left:-30vw;
    opacity:0.5;
  }
}

/* Icon Styling */
.menuBtn {
  display: inline;
  width: 25px;
  height: 20px;
  margin: -10px 0 0 -12px;
  cursor:pointer;
  float: right;
  top:32px;
  right:32px;
  position: fixed;
  padding-right:15px;
  padding-top:15px;
  z-index:3;
}

.menuBtn span,
.menuBtn::before,
.menuBtn::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 7px;
  right: 0px;
  background: #FFF;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.menuBtn span {
  top: 39%;

}

.menuBtn::before,
.menuBtn::after {
  content: "";
}

.menuBtn:hover::before,
.menuBtn:hover::after{
  background-color:#F7DC6F;
}

.menuBtn:hover > span{
  background-color:#F7DC6F;
}

.menuBtn::before {
  top: 0px;
}

.menuBtn::after {
  bottom: 0px;
}

/* Close state */

/* type1 */
.menuBtn.type1.close span {
  opacity: 0;
}

.menuBtn.type1.close::before {
  top: 14px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menuBtn.type1.close::after {
  bottom: 14px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
