.register-module {
    background-color: #ffadad;
    height: 570px;
    width: 430px;
    border-radius: 50px;
    margin: auto;
    margin-top: 100px;
    font-family: DM Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    padding: 25px;
    justify-content: center;
    color: #000000;
}

p {
    height: 100px;
    width: 80%;
    text-align: left;
    margin: auto;
}

#password, #username, #email, #password2 {
    height: 40px;
    border-radius: 10px;
    width: 100%;
    border: none;
    background: #ffeded;
}

#forgotPass, #registerLink {
    color: blue;
    text-decoration: underline;
}

#submit {
    position: relative;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 10px;
    border: none;
    font-family: DM Mono;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
    color: #000000;

    /* Accent */

    background: #FFEDED;
    border-radius: 50px;
}