<!DOCTYPE html>
<!-- Base UI by Jack Yang -->
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=0.85">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sample Text{% endblock %}</title>
    {% include "libraries.html" %}
</head>

<body>
<input type="checkbox" id="chk">

<label for="chk" class="show-menu menuBtn type1">
    <span></span>
</label>

<div class="menu">

    <a href="/">Home</a>

    {% if user %}
        <a href="/profile">Profile</a>
        <a href="/mysystemconfig">My Config</a>
        <a href="/logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}

</div>

<div class="wrapper" style="transition: 0.7s;overflow-y:scroll">

    <div class="searchBar">

        <form action="/search">
            <input type="submit" style="display: none"/>
            <img src="/static/img/PCPTlogo.png">

            <input id="field" type="text" name="query" placeholder="Search products here"
                   value="{{ request.form.search }}">
        </form>

    </div>

    {% block content %}
    {% endblock %}

</div>

<script src="/static/js/menuButton.js"></script>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script type="text/javascript" src="/static/js/alertbox.js"></script>
            <script type="text/javascript">
                let msg = "{{ message | safe }}";
                showAlert(msg);
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

</body>
</html>
