<!DOCTYPE html>
<!-- Base UI by Jack Yang -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sample Text{% endblock %}</title>
    {% include "libraries.html" %}
</head>

<body>
    <input type="checkbox" id="chk">

    <label for="chk" class="show-menu menuBtn type1">
        <span></span>
    </label>

    <div class="menu">
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Browse</a>
    </div>

    <div class="wrapper" style="transition: 0.7s;">

        <div class="searchBar">

            <form action="/search" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="submit" style="display: none" />
                <i class="fa fa-search fa-2x" style="color:#ffeded;margin-left:20px;width:auto;margin-top:10px;"></i>

                <input id="field" type="text" name="query" placeholder="Search products here">
                <!-- <input type="submit" value="subimt"> -->
            </form>

        </div>

        {% block content %}
        {% endblock %}

    </div>

    <script src="/static/js/menuButton.js"></script>
    <style>        
        #field::-webkit-input-placeholder {
            color: #ffadad;
        }
    </style>
</body>
</html>
