{% extends "base.html" %}
{% block title %}My Builds{% endblock %}

{% block content %}
    <div class="container">

        {% if user %}
            <h1>{{ user.name }}'s PC Build</h1>
        {% else %}
            <h1>Your PC Builds</h1>
        {% endif %}

        <div class="gallery-container">
            <h2>My PC Build</h2>
            <div class="gallery">
                {% for part in configs.parts %}
                    <div class="item" style="position:relative">
                        <a href="/product?item_id={{ configs.parts[part].part_id }}"><img style="display:block"
                                                                                          src="{{ configs.parts[part].imgurl }}"></a>
                        <a href="/deletefromconfig?item_id={{ configs.parts[part].part_id }}" class="fas fa-trash-alt"
                           style="color:#420000; display: block; top:-100px"></a>
                        <h3>{{ part }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <br>
    </div>

    <link rel="stylesheet" href="/static/css/config_layout.css">
{% endblock %}
