{% extends "base.html" %}

{% block content %}
    <div class="login-module">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}        
            <h1>Send Recovery Email</h1>
            <p>
                {{ form.email.label }}
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.email(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
            <a id="loginLink" href="/login">
                Back to Login
            </a>
        </form>
    </div>

    <style>
    
    .login-module{
        background-color: #ffadad;
        height: 360px;
        width: 430px;
        border-radius: 50px;
        margin:auto;
        margin-top: 100px;
        font-family: DM Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 42px;
        text-align: center;
        padding:25px;
        justify-content: center;
        color: #000000;
    }

    p{
        height: 100px;
        width:80%;
        text-align: left;
        margin: auto;
    }

    #email{
        height:40px;
        border-radius: 10px;
        width:100%;
        border:none;
        background: #ffeded;
    }

    #loginLink{
        color: blue;
        text-decoration: underline;
    }
    #submit{  
        position:relative;
        margin-top:20px;
        width: 100%;
        height: 60px;
        left: 0px;
        border:none;
        font-family: DM Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 42px;
        text-align: center;
        justify-content: center;
        color: #000000;

        /* Accent */

        background: #FFEDED;
        border-radius: 50px;
    }
    </style>
{% endblock %}