{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">

        {% if user %}
            <h1>Welcome back to PCPT, {{ user.name }}!</h1>
        {% else %}
            <h1>Welcome to PCPT!</h1>
        {% endif %}

        <div class="gallery-container">
            <h2>Featured Items</h2>
            <div class="gallery">
                <a href="/product?item_id=BX8070110900K"></a>
                <a href="/product?item_id=RTX%202060%20GAMING%206G"></a>
                <a href="/product?item_id=GT%20710%202GD3%20LP"></a>


                <img src="https://static.bhphoto.com/images/images2500x2500/1548869076_1456228.jpg">
                <img src="https://static.bhphoto.com/images/images2500x2500/1548869076_1456228.jpg">
                <img src="https://static.bhphoto.com/images/images2500x2500/1548869076_1456228.jpg">
            </div>
            <a class="button">Browse Products</a>
            <div class="footer"></div>
        </div>
    </div>

    <link rel="stylesheet" href="/static/css/homelayout.css">
{% endblock %}
