{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">

        {% if user %}
            <h1>Welcome back to PCPT, {{ user.name }}!</h1>
        {% else %}
            <h1>Welcome to PCPT!</h1>
        {% endif %}

        <div class="gallery-container">
            <h2>Featured Items</h2>
            <div class="gallery">
                <a href="/product?item_id=BX8070110900K"><img
                        src="https://static.bhphoto.com/images/images345x345/1589327172_1558668.jpg"></a>
                <a href="/product?item_id=RTX%202060%20GAMING%206G"><img
                        src="https://static.bhphoto.com/images/images345x345/1572450001_1513001.jpg"></a>
                <a href="/product?item_id=GT%20710%202GD3%20LP"><img
                        src="https://static.bhphoto.com/images/images345x345/1477664715_1292422.jpg"></a>
            </div>
            <div class="footer"></div>
        </div>
    </div>

    <link rel="stylesheet" href="/static/css/home_layout.css">
{% endblock %}
