{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-module">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <h1>Account Login</h1>
            <p>
                {{ form.username.label }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.password(size=32) }}
            </p>
            <br/>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
            <a id="registerLink" href="/register">
                Register New Account
            </a>
        </form>
    </div>

    <link rel="stylesheet" href="/static/css/login_layout.css">
{% endblock %}