{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% if messages|length == 1 %}
            {% for message in messages %}
                <script src="/static/js/alertbox.js"></script>
                <script type="text/javascript">
                    let msg = {{ message }};
                    sendAlert();
                </script>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endwith %}


{% block content %}
    <div class="login-module">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}        
            <h1>Account Login</h1>
            <p>
                {{ form.username.label }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.password(size=32) }}
            </p>
            <a id="forgotPass" href="/forgot">Forgot Password?</a>
            <br/>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
            <a id="registerLink" href="/register">
                Register New Account
            </a>
        </form>
    </div>
    <style>
    
    .login-module{
        background-color: #ffadad;
        height: 460px;
        width: 430px;
        border-radius: 50px;
        margin:auto;
        margin-top: 100px;
        font-family: DM Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 42px;
        text-align: center;
        padding:25px;
        justify-content: center;
        color: #000000;
    }

    p{
        height: 100px;
        width:80%;
        text-align: left;
        margin: auto;
    }

    #password,#username{
        height:40px;
        border-radius: 10px;
        width:100%;
        border:none;
        background: #ffeded;
    }

    #forgotPass, #registerLink{
        color: blue;
        text-decoration: underline;
    }

    #remember_me{
        height:20px;
        width: 20px;
        border-radius: 5px;
    }

    label[for=remember_me]{
        position:absolute;
        margin-top:-5px;   
        margin-left:5px;   
    }

    #submit{  
        position:relative;
        width: 100%;
        height: 60px;
        left: 0px;
        top:-40px;
        border:none;
        font-family: DM Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 42px;
        text-align: center;
        justify-content: center;
        color: #000000;

        /* Accent */

        background: #FFEDED;
        border-radius: 50px;
    }
    </style>
{% endblock %}