{% extends "base.html" %}
{% block title %}Product{% endblock %}

{% block content %}

    <div class="container">
        <h2>{{ product.product_name }}</h2>
        <div class="container-cols">
            <div class="gallery-container">
                <div class="rating">
                    <i class="fas fa-star" id="star1"></i>
                    <i class="fas fa-star" id="star2"></i>
                    <i class="fas fa-star" id="star3"></i>
                    <i class="fas fa-star" id="star4"></i>
                    <i class="fas fa-star" id="star5"></i>
                </div>
                <div class="product-img">
                    <img src="{{ product.product_imgurl }}">
                </div>

                {% if user and item_id %}
                    <a href="/addtoconfig?item_id={{ item_id }}" id="btn">Add to My Config</a>
                {% endif %}

            </div>
            <div class="column2">
                <h2>Product Details</h2>
                <p class="detailsTxt">
                    {% for line in product.product_description %}
                        {{ line }}<br>
                    {% endfor %}
                </p>
                <h2>Product Prices</h2>
                <table>
                    {% for site in product.stores %}
                        <tr>
                            <td>
                                <img id="iconimg" src="{{ site.store_iconurl }}">
                            <th>{{ site }}</th>
                            <td><a href="http://{{ product.stores[site].store_url }}" target="_blank">Store Page</a>
                            </td>
                            <td>{{ product.stores[site].product_price }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script>
        let rating = "{{ product.product_rating }}";
        switch (rating) {
            case "5":
                $('#star5').toggleClass('blue');
            case "4":
                $('#star4').toggleClass('blue');
            case "3":
                $('#star3').toggleClass('blue');
            case "2":
                $('#star2').toggleClass('blue');
            case "1":
                $('#star1').toggleClass('blue');
        }
    </script>

    <link rel="stylesheet" href="/static/css/productlayout.css">
{% endblock %}
