{% extends "base.html" %}
{% block title %}Product{% endblock %}

{% block content %}

    <div class="container">
        <h2>{{ product.product_name }}</h2>
        <div class="container-cols">
            <div class="gallery-container">
                <div class="rating">
                    <i class="fas fa-star" id="star1"></i>
                    <i class="fas fa-star" id="star2"></i>
                    <i class="fas fa-star" id="star3"></i>
                    <i class="fas fa-star" id="star4"></i>
                    <i class="fas fa-star" id="star5"></i>
                </div>
                <div class="product-img">
                    <img src="{{ product.product_imgurl }}">
                </div>

                {% if user and item_id %}
                    <a href="/addtoconfig?item_id={{ item_id }}" id="btn">Add to My Config</a>
                {% endif %}

            </div>
            <div class="column2">
                <h2>Product Details</h2>
                <p class="detailsTxt">
                    Model Number: RX-580P826D6<br>
                    Base Clock: 1366MHz<br>
                    Boost Clock: 1386MHz<br>
                    Stream Processors: 2304<br>
                    Memory Bus: 256 bit<br>
                    Memory Base Clock: 8.0GHz<br>
                    Memory Boost Clock: 8.1GHz<br>
                    Memory Size: 8GB<br>
                    Memory Type: DDR5<br>
                    Slots: 2<br>
                    Minimum PSU: 500W<br>
                    Power Cable: 1x 8 Pin<br>
                    Outputs: 3x Displayport, 1x HDMI, 1x DVI-D<br><br>
                    {{ product.product_description }}
                </p>
                <h2>Product Prices</h2>
                <table>
                    {% for site in product.stores %}
                        <tr>
                            <td>
                                <img id="iconimg" src="{{ site.store_iconurl }}">
                            <th>{{ site }}</th>
                            <td><a href="http://{{ product.stores[site].store_url }}" target="_blank">Store Page</a>
                            </td>
                            <td>{{ product.stores[site].product_price }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h2>Price History</h2>
                <canvas id="myChart" width="1000px" height="700px"></canvas>
            </div>
        </div>
    </div>

    <script>
        let rating = "{{ product.product_rating }}";
        switch (rating) {
            case "5":
                $('#star5').toggleClass('blue');
            case "4":
                $('#star4').toggleClass('blue');
            case "3":
                $('#star3').toggleClass('blue');
            case "2":
                $('#star2').toggleClass('blue');
            case "1":
                $('#star1').toggleClass('blue');
        }
    </script>
    <style>

        h1 {
            font-family: DM Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 62px;
            margin-bottom: 10px;
            color: #000000;
        }

        h2 {
            font-family: DM Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 48px;

            color: #000000;
        }

        #btn {

            margin-top: 40px;
            background: #FFADAD;
            border-radius: 50px;
            width: 240px;
            height: 60px;
            font-family: DM Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            text-decoration: none;
            color: #FFFFFF;
        }

        p {
            font-size: 18px;
        }

        .detailsTxt {
            overflow-y: scroll;
            height: 400px;
        }

        #iconimg {
            height: 20px;
            width: 20px;
        }

        .blue {
            color: #ffadad
        }

        ::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }

        ::-webkit-scrollbar-track {
            border: 1px solid #ffadad;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: #FFADAD;
            border-radius: 10px;
        }

        .container {
            margin-left: 5vw;
        }

        .container-cols {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 1100px
        }

        .column2 {
            margin-left: 100px;
            width: 700px
        }

        .column2 table {
            background-color: #ffffff;
            width: 700px;
            height: 160px;
            padding: 20px;
            border-radius: 10px;
        }


        th, td {
            padding: 10px;
        }

        .rating {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-basis: content;
            width: 100px;
            height: 20px;
            top: -20px;
            margin-bottom: 30px;
        }

        .rating img {
            height: 20px;
            width: 20px;
        }

        .gallery, img {
            width: 15vw;
            height: 15vw;
        }

        .button {
            margin-top: 40px;
            background: #FFADAD;
            border-radius: 50px;
            width: 300px;
            height: 60px;
            font-family: DM Mono;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #FFFFFF;
        }

        .footer {
            position: absolute;
            width: 100%;
            height: 15%;
            left: 0px;
            top: 85%;

            /* Red */

            background: #FFADAD;
        }
    </style>
{% endblock %}
